* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header {
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: 26px;
    text-transform: uppercase;
}

.container {
    max-width: 1000px;
    margin: auto;
}

section {
    padding: 20px;
    background-image: url(/imagens/people.jpg);
    background-size: cover;
    /*deixa a nossa imagem do tamanho da section*/
    overflow: hidden;
    /* faz com que a nossa imagem preencha todo a campo da section*/
}

section p {
    text-align: justify;
}

.formContainer {
    max-width: 300px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.mg-bottom {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    outline-color: #48c5ce;
}

input[type="submit"] {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: #48c5ce;
    margin-top: 15px;
}

.submit:hover {
    cursor: pointer;
}

/* configurando nossa seta no select, as 3 linhas iniciais é pra desabilitar a seta padrao dos navegadores, e as linhas se que repetem é pra incluir nossa seta de forma manual */

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(/imagens/arrow.jpg);
    background-repeat: no-repeat;
    /* background-position: right;  desta forma a seta fica colada do lado direito*/
    background-position: calc(100% - 10px) center;
    /* com esse codigo conseguimos dar um espaço*/
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

footer p {
    text-align: justify;
}

.picture {
    width: 160px;
}

.description {
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}


.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}


@media screen and (max-width:900px) {
    .formContainer {
        max-width: 80%;
        background-color: #ffffffbb;
        padding: 20px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
    input[type="submit"] {
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        background-color: #48c5ce;
    }
    input, select {
        margin-bottom: 15px;
    }
   
}

